FLASK_APP=manage.py
FLASK_ENV=development
SECRET_KEY=change_me

DATABASE_URL=mysql+pymysql://user:password@127.0.0.1:3306/database?charset=utf8mb4

KINOPOISK_API_KEY=your_api_key_here
KINOPOISK_API_BASE=https://kinopoiskapiunofficial.tech/api